.todo-header {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.todo {
  color: white;
  font-size: 3rem;
}

.todo-logic {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  gap: 2rem;
}

.todo-input {
  width: 300px;
  height: 2rem;
  font-size: 1.5rem;
  border: none;
  padding-left: 2rem;
  background-color: white;
  border-radius: 10px;
  font-size: 1rem;
  color: black;
}

.todo-items {
  height: 3rem;
  width: 25rem;
  background-color: rgb(225, 141, 38);
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.add-todo {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 2rem;
  right: 2rem;
  position: fixed;
  background-color: red;
}

.add-todo {
}


.todo-main {
  min-height: 100vh;
}