.todo-header {
  display: flex;
  justify-content: center;
}

.todo {
  color: white;
  font-size: 3rem;
}

.todo-logic {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  gap: 2rem;
}

.todo-input {
  width: 300px;
  height: 2rem;
  font-size: 1.5rem;
  border: none;
  padding-left: 2rem;
  background-color: white;
  border-radius: 10px;
  font-size: 1rem;
  color: black;
}

.todo-items {
  height: 3rem;
  width: 25rem;
  background-color: rgb(225, 141, 38);
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.add-todo {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 2rem;
  right: 2rem;
  position: fixed;
  background-color: red;
}

.text {
  background: none;
  border: none;;
}


.todo-main {
  min-height: 100vh;
}

.logout,
.logs {
  background-color: green;
  border: none;
  padding-block: 0.5rem;
  border-radius: 10px;
  cursor: pointer;
}

.logout:hover {
  background-color: red;
}

.todo-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* vertical alignment */
}

.nav-header,
.nav-button {
  display: flex;
  align-self: auto;
  gap: 1rem;
}